<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard v.2.0 | Adminpro - Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/")img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->

    <link rel="stylesheet" href="@Url.Content("~/Content/")css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/font-awesome.min.css">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/animate.css">
    <!-- jvectormap CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/data-table/bootstrap-editable.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/normalize.css">

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <!-- charts CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/c3.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <script src="@Url.Content("~/Content/")js/MyChartScript.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>
<body>
    @RenderBody()

    <script src="@Url.Content("~/Content/")js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/jquery.scrollUp.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/wow/wow.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/counterup/jquery.counterup.min.js"></script>
    <script src="@Url.Content("~/Content/")js/counterup/waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/")js/counterup/counterup-active.js"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="@Url.Content("~/Content/")js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="@Url.Content("~/Content/")js/jvectormap/jvectormap-active.js"></script>
    <!-- peity JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/peity/jquery.peity.min.js"></script>
    <script src="@Url.Content("~/Content/")js/peity/peity-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/sparkline/jquery.sparkline.min.js"></script>
    <script src="@Url.Content("~/Content/")js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.tooltip.min.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.spline.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.resize.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.pie.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.symbol.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/jquery.flot.time.js"></script>
    <script src="@Url.Content("~/Content/")js/flot/dashtwo-flot-active.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/data-table/bootstrap-table.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/tableExport.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/data-table-active.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/bootstrap-table-editable.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/bootstrap-editable.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/bootstrap-table-resizable.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/colResizable-1.5.source.js"></script>
    <script src="@Url.Content("~/Content/")js/data-table/bootstrap-table-export.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="@Url.Content("~/Content/")js/main.js"></script>
</body>
</html>
